#sidebar
  column(3)
  position: relative
  font-family: font-title
  padding: 0 0 40px
  @media mq-mobile
    display: none

.sidebar-title
  display: block
  margin: 40px -18px 10px
  color: color-grey
  text-transform: uppercase
  font-weight: bold
  position: relative
  padding-left: 20px

.sidebar-link
  color: #666
  text-decoration: none
  display: block
  font-weight: 300
  padding: 5px 15px
  border-left: 2px solid color-border
  margin-left: 3px
  white-space: nowrap
  &.current, &.current:hover
    color: black
    font-weight: bold
    border-left-color: black
    &:before
      content: ""
      width: 4px
      height: 8px
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: black
      position: absolute
      margin-top: 4px
      left: 0px
  &:hover
    border-left-color: color-border
    &:before
      content: ""
      width: 4px
      height: 8px
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: color-border
      position: absolute
      margin-top: 4px
      left: 0px