#sidebar
  column(3)
  position: relative
  font-family: font-title
  padding: 0 0 40px
  @media mq-mobile
    display: none

.sidebar-title
  display: block
  margin: 40px 0 10px
  color: color-blue
  text-transform: uppercase
  font-weight: bold
  position: relative
  padding-left: 20px
  &:before
    content: ""
    width: 8px
    height: 8px
    background: color-blue
    border-radius: 50%
    position: absolute
    top: 4px
    left: 0

.sidebar-link
  color: #666
  text-decoration: none
  display: block
  font-weight: 300
  padding: 5px 15px
  border-left: 2px solid color-border
  margin-left: 3px
  &.current, &.current:hover
    color: color-blue
    font-weight: bold
    border-left-color: color-blue
    &:before
      content: ""
      width: 4px
      height: 8px
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: color-blue
      position: absolute
      margin-top: 4px
      left: 0px
  &:hover
    border-left-color: color-border
    &:before
      content: ""
      width: 4px
      height: 8px
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: #666
      position: absolute
      margin-top: 4px
      left: 0px